<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <div class="container">
      <div>
        <div class="project_box">
          <center><h1><b>Image Tagger</b></h1></center>
          <center><img id="Image Tagger Logo" src="ImageTagger_logo.png" alt="mona_lisa.jpg">
          <center>
          <p style="width: 450px;">Adds tags to images on your computer. Like instagram but for your computer.</p>
          <a href="ImageTagger.jar">Download Image Tagger now.</a>
          <div class="microspacer"></div>
          <a href="https://github.com/PiyushDatta/Image_tagger"> View the source code.</a>
        </div>
      </div>
    </div><!-- /.container -->

    <!-- Line to separate two containers -->
    <div class="pad-box-large"></div>

    <!-- Last project, there is a bottom margin on the source code hyperlink, indicated by p class SourceCodeLink -->
    <div class="container">
      <div>
        <div class="project_box">
          <center><h1><b>SEC File Downloader</b></h1></center>
          <center><img id="SEFD Logo" src="SEFD_logo.png" alt="NYSE_building.jpg">
          <center>
          <p style="width: 450px; padding-top: 10px">Downloads any SEC document with respective year(s) and puts them into a folder with the company's name.</p>
          <a href="SEC_EDGAR_File_Downloader_Installer.exe">Download the SEC File Downloader now.</a>
          <div class="microspacer"></div>
          <p class="SourceCodeLink"><a href="https://github.com/PiyushDatta/SEC_file_downloader"> View the source code.</a></p>
        </div>
      </div>
    </div><!-- /.container -->
    
    <title>Piyush Datta's Personal Website</title>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" >Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/About">Resume</a></li>
            <li><a href="/Projects">Projects</a></li>
            <li><a href="/MonteCarloSim">Monte Carlo Sim</a></li>
            <li><a href="/WeatherApp">Weather App</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>